* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.progress-bar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-inline: 1rem;
    padding: 0.5rem;
    height: 100vh;
    width: 3vw;
}

.indicator {
    font-family: monospace;
    font-size: 0.9rem;
    color: gray;
}

.progress-bar-wrapper {
    flex-grow: 1;
    position: relative;
}

.progress-baar {
    position: absolute;
    bottom: 0;
}