p{
    width: 50%;
    background-color: rgb(210, 210, 176);
    padding: 10px;
    border: solid black;
    font-size: 20px;
}

.img{
    width: 40%;
    height: 40%;
    float: left;
    border: 2px solid black;
    margin: 10px 10px 10px 0px;
}

img:hover{
    width: 60%;
    height: 40%;
    float: left;
    border: dashed red;
    margin: 10px 10px 10px 0px;
    padding: 10px;
    cursor: pointer;
}