body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.aside {
    background-color: rgb(62, 76, 88);
    color: white;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    text-align: right;
}
/*
.asideDiv{
    position: fixed;
}*/

.asideTitle {
    font-size: 2.5rem;
    font-weight: 900;
}

.asideParagraf {
    font-weight: 200;
    margin: 0;
}

.asideButton {
    background-color: transparent;
    border: 2px solid aliceblue;
    color: aliceblue;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
}

.asideButton:hover {
    background-color: rgb(164, 194, 195);
}

.main {
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section2 {
    padding: 70px 0 0 0;
}

.sectionSubTitle,
.sectionHr {
    margin: 0;
    color: gray;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.sectionTitle {
    font-size: 2rem;
    color: black;
}

.sectionName {
    color: blue;
    cursor: pointer;
}

.sectionSpanCSS {
    background-color: rgb(22, 161, 27);
    color: white;
    cursor: pointer;
}

.sectionSpanHtml {
    background-color: rgb(23, 97, 182);
    color: white;
    cursor: pointer;
}

.sectionSpanJavascript {
    background-color: rgb(199, 36, 36);
    color: white;
    cursor: pointer;
}

.le {
    padding: 0 10px;
}

.sectionImg {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.sectionHeader {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.sectionParagraf {
    line-height: 25px;
    font-size: 0.9rem;
}


/*
.child1 {
    background-color: #ffffff;
    color: #000000;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.0em;
    color: rgb(40, 34, 34);
   
}

.child2 {
    background-color: #ffffff;
    color: #000000;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.0em;
    color: rgb(40, 34, 34);
}

hr {
    border: 1px solid rgb(144, 143, 143);
    width: 100%;
}

.login-button {
    background-color: rgb(62, 76, 88);
    color: #fff;
    padding: 10px 20px;
    border: 2px solid white;
    cursor: pointer;
    font-size: 12px;
}

.login-button:hover {
    background-color: rgb(164, 194, 195);
}

.user-name {
    color: rgb(69, 143, 183);
    cursor: pointer;
}

.css-color {
    background-color: green;
    color: white;
    padding: 0 8px;
    cursor: pointer;
}

.html-color {
    background-color: rgb(64, 132, 197);
    color: white;
    padding: 0 8px;
    cursor: pointer;
}

.javascript-color {
    background-color: red;
    color: white;
    padding: 0 8px;
    cursor: pointer;
}

.pr-post {

    font-size: 0.8em;
    color: rgb(144, 143, 143);
}

.profile-image {
	border-radius: 50%;
    overflow: hidden;
	width: 60px;
	height: 60px;
	position: relative;
    left: 90%;
    top: 40%;
}
img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
	}
*/