
body{
    padding: 0px;
    margin: 0px;
}

ul{
    list-style-type: none;
}

li {
    float: left;
    background: #ffffff; 
    border:1px solid #969696;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;

}

.clear { clear: both; }